#bgContinue{
    -fx-background-color: #0A1120;
}

#loginTitle{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: League Spartan;
}

#tf_email{
    -fx-background-radius: 12;
    -fx-font-family: League Spartan;
}

#tf_senha{
    -fx-background-radius: 12;
    -fx-font-family: League Spartan;
}

#btLoginEmail{
    -fx-background-color: #404040;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 12;
    -fx-font-family: League Spartan;
}

#btLoginEmail:hover{
    -fx-background-color: #808080FF;
    -fx-text-fill: #000000;
}

#btLoginGoogle{
    -fx-background-color: #404040;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 12;
    -fx-font-family: League Spartan;
}

#btLoginGoogle:hover{
    -fx-background-color: #808080FF;
    -fx-text-fill: #000000;
}

#idOr{
    -fx-text-fill: #FFFFFF;
}

#idNoAccount{
    -fx-text-fill: #FFFFFF;
}

#idCreateAccount{
    -fx-text-fill: #FF3B30;
}

#idCreateAccount:hover{
    -fx-text-fill: #004DFDFF;
}