#bgContinue{
    -fx-background-color: #0A1120}

#loginTitle{
    -fx-text-fill: #dadada;
    -fx-font-family: League Spartan;
}

#tf_email{
    -fx-background-radius: 12;
    -fx-font-family: League Spartan;
}

#tf_senha{
    -fx-background-radius: 12;
    -fx-font-family: League Spartan;
}

#btLoginEmail{
    -fx-background-color: #C0C0C0;
    -fx-text-fill: #000000;
    -fx-background-radius: 20;
    -fx-font-family: League Spartan;
    -fx-font-weight: bold;
}

#btLoginEmail:hover{
    -fx-background-color: #2F2F2F;
    -fx-text-fill: #C0C0C0;
}

#btLoginGoogle{
    -fx-background-color: #C0C0C0;
    -fx-text-fill: #000000;
    -fx-background-radius: 20;
    -fx-font-family: League Spartan;
    -fx-font-weight: bold;
}

#btLoginGoogle:hover{
    -fx-background-color: #2F2F2F;
    -fx-text-fill: #C0C0C0;
}

#idOr{
    -fx-text-fill: #dadada;
}

#idNoAccount{
    -fx-text-fill: #dadada;
}

#idCreateAccount{
    -fx-text-fill: #FF3B30;
}

#idCreateAccount:hover{
    -fx-text-fill: #004DFDFF;
}

#boxBg{
    -fx-background-color: #000814;
    -fx-background-radius: 20;
}