#backgroundCad{
    -fx-background-color: #0A1120;
}

#cadTitle{
    -fx-text-fill: #dadada;
    -fx-font-family: League Spartan;
}

#tf_email{
    -fx-background-radius: 12;
    -fx-font-family: League Spartan;
}

#tf_senha{
    -fx-background-radius: 12;
    -fx-font-family: League Spartan;
}

#tf_nome{
    -fx-background-radius: 12;
    -fx-font-family: League Spartan;
}

#tf_email{
    -fx-background-radius: 12;
    -fx-font-family: League Spartan;
}

#rb_masculino{
    -fx-text-fill: #FFFFFF;
}

#rb_feminino{
    -fx-text-fill: #FFFFFF;
}

#bt_salvar{
    -fx-background-color: #2F2F2F;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 20;
    -fx-font-family: League Spartan;
    -fx-font-weight: bold;
}

#bt_salvar:hover{
    -fx-background-color: #C0C0C0;
    -fx-text-fill: #2F2F2F;
    -fx-font-weight: bold;
}

#alertSignUp{
    -fx-text-fill: #FF3B30;
}

#boxBg{
    -fx-background-color: #000814;
    -fx-background-radius: 20;
}


